<form class="posts-edit">
	<i class="fa fa-close" {{action 'cancel'}}></i>
	{{input type="text" class="posts-edit-url" value=url placeholder="Image URL"}}
	{{textarea type="text" class="posts-edit-caption" value=caption placeholder="Image Caption"}}
	<button class="edit-submit">Save Changes</button>
</form>