<div class="index-container">
	<header class="posts-header">
		<div class="outer-container">
			<i class="fa fa-plus-circle" {{action 'showForm'}}></i>
		</div>
	</header>

	{{posts-create model=model action="save"}}
	
	{{posts-index model=model}}
</div>

{{outlet}}